---
import config from "@/config/config.json";
import ImageMod from "./ImageMod.astro";

const { src }: { src?: string; srcDarkmode?: string } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_horizontal,
  logo_horizontal_width,
  logo_horizontal_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_horizontal: string;
  logo_horizontal_width: any;
  logo_horizontal_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<a href="/" class="navbar-brand inline-block relative">
  {
    src || logo ? (
      <div class="relative flex items-center justify-start">
        <ImageMod
          id="logo-default"
          src={src ? src : logo}
          class="transition-all duration-300 ease-out"
          width={logo_width.replace("px", "") * 2}
          height={logo_height.replace("px", "") * 2}
          alt={title}
          style={{
            height: logo_height.replace("px", "") + "px",
            width: logo_width.replace("px", "") + "px",
            transform: "translateY(0) scale(1)",
          }}
          format="webp"
          quality={90}
        />
        <ImageMod
          id="logo-horizontal"
          src={logo_horizontal}
          class="transition-all duration-300 ease-out opacity-0 absolute top-1/2 left-0 transform -translate-y-1/2"
          width={logo_horizontal_width.replace("px", "") * 2}
          height={logo_horizontal_height.replace("px", "") * 2}
          alt={title}
          style={{
            height: logo_horizontal_height.replace("px", "") + "px",
            width: logo_horizontal_width.replace("px", "") + "px",
            transform: "translateY(10px) scale(0.9)",
          }}
          format="webp"
          quality={90}
        />
      </div>
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
</a>
