---
import Logo from "@/components/Logo.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import { markdownify } from "@/lib/utils/textConverter";
import { FaAngleUp, FaEnvelope } from "react-icons/fa6";

const { footer }: { footer: any } = menu;
---

<footer class="section-sm pb-0 border-t border-border">
  <div class="container">
    <div class="row justify-between py-10">
      <div class="mb-8 md:col-6 col-12 lg:mb-0">
        <h5>Martin Woodward</h5>
        <p class="mt-4">
          Martin is the Vice President of Developer Relations at GitHub where he helps developers and open source communities to create delightful things. Prior to that he was part of the team at Microsoft building the tooling for DevOps teams inside and outside the company where he helped change how the company built software, by helping them change how they work with open source communities and how they talk with developers.
        </p>
      </div>
      <div class="mb-8 md:col-6 col-12 lg:mb-0">
        <div class="flex">
          {
            footer.map(
              (menu: { url: string; name: string; children: any[] }) => (
                <div class="w-1/2">
                  <h6 class="text-[15px] mb-4 font-[600] text-text-dark">
                    {menu.name}
                  </h6>
                  <ul class="flex flex-col justify-start text-text-light">
                    {menu.children?.map(
                      (child: { url: string; name: string }) => (
                        <li class="py-[5px] text-[14px] hover:text-primary">
                          <a href={child.url}>{child.name}</a>
                        </li>
                      )
                    )}
                  </ul>
                </div>
              )
            )
          }
        </div>
      </div>
    </div>

    <div class="scroll-top">
      <button id="scrollTop" aria-label="scroll to top"><FaAngleUp /> </button>
    </div>

    <div class="border-t border-border py-7">
      <div class="container text-center text-text-light">
        <p set:html={markdownify(config.params.copyright)} />
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("astro:page-load", () => {
    document
      .querySelector("#scrollTop")
      ?.addEventListener("click", function () {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      });
  });
</script>
