---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
---

<Base title="Page Not Found">
  <section class="section text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="col-12">
          <h1 class="mb-4 font-semibold">Ooops! This Page Is Not Available</h1>
          <div class="mb-5">
            <ImageMod
              class="mx-auto"
              src="/images/404.png"
              alt="404"
              width={600}
              height={427}
            />
          </div>
          <a href="/" class="btn btn-primary mt-8">Back to home</a>
        </div>
      </div>
    </div>
  </section>
</Base>
